body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    background-color: #051118;
}
.myButton{
    background-color: rgba(0, 128, 0, 0.62);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid black;
}
.clickers{
    display: flex;
    grid-column: 1/15;
    grid-row: 5/21;
    flex-wrap: wrap;
    border-right: 2px solid black;
    border-top: 2px solid black;
    justify-content: space-around;
    align-items: center;
    align-content: start;
}
.counter{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    margin: 0;
    text-align: center;
    grid-column: 1/15;
    grid-row: 1/5;
    justify-content: center;
    align-items: center;
}
#PointsDisplay{
    margin: 0;
    font-size: large;
    text-decoration: underline;
    width: auto;
}
.Next{
    visibility: hidden;
}
p{
    margin: 0;
}
.parent{
    display: grid;
    grid-template-columns: repeat(20 , 25px);
    grid-template-rows: repeat(20 , 25px);
    border: 5px solid black;
    background-color: #282828;
    border-radius: 30px;
}
.bButtons{
    display: flex;
    border-left: 2px solid black;
    grid-column: 15/21;
    grid-row: 1/21;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}
b{
    animation-name: rainbow;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes rainbow {
    0%{color: red;}
    25%{color: green;}
    75%{color: blue;}
    100%{color:red;}
}
i{
    transform: rotate(-15deg);
}
.buyButton{
    color: white;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.53);
    width: 125px;
    border: solid 2px red;
    border-radius: 3px;
}
#SecretButton{
    background:linear-gradient(90deg , rgba(0, 0, 255, 0.60) , rgba(255, 0, 0, 0.60));
    border: none;
    animation-name: secretbutton;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes secretbutton {
    0%{transform: rotateY(360deg)}
    50%{transform: rotateY(180deg)}
    100%{transform: rotateY(360deg)}
}
#SB{
    color: white;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background:linear-gradient( to right , rgba(0, 0, 255, 0.60) 30% , rgba(255, 0, 0, 0.60)) 30%;
    visibility: hidden;
    grid-row: 15/20;
    grid-column: 6/11;
}
.Buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
}